<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>LiquorList</title>
    <meta name="description" content="Find out what is the minimum shelf price of a certain liquor allowed by the Michigan Liquor Control Commision with LiquorList.">
    <meta name="author" content="Brian Ryckbost">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/application.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-modal.js" async></script>
    <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-twipsy.js"></script>
    <script>
      $(function() {
        $("table").tablesorter();
        $("span[rel=twipsy]").twipsy();
        $("dt[rel=twipsy]").twipsy({placement: 'left'});
      });
    </script>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">LiquorList</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about" data-controls-modal="about" data-backdrop="true">About</a></li>
          </ul>
          <form action="/search" class="pull-right" method="get">
            <input class="xlarge" type="text" name="q" placeholder="Search for Jim Beam, Glenmorangie…">
            <button class="btn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>
            LiquorList <small>what <em>should</em> that <%= @header_liquor["SIZE"] %>mL bottle of <span rel="twipsy" title="The minimum shelf price is $<%= @header_liquor["MINIMUM"] %>!"><%= friendly_name(@header_liquor) %></span> cost?</small>
          </h1>
          <form action="/search" class="" method="get">
            <input class="xlarge" type="text" name="q" placeholder="Jim Beam, Glenmorangie…">
            <button class="btn" type="submit">Search</button>
          </form>
        </div>
        <div class="row">
          <div class="span10">
            <h2>Michigan Liquor Control Commission Price List</h2>
            <table class="zebra-striped">
              <thead>
                <tr>
                  <th>Brand Name</th>
                  <th>Proof</th>
                  <th>Size (mL)</th>
                  <th>Minimum Shelf Price</th>
                </tr>
              </thead>
              <tbody>
                <% @liquors.each do |liquor| %>
                  <tr>
                    <td><%= friendly_name liquor %></td>
                    <td class="justify-right"><%= liquor["PROOF"] %></td>
                    <td class="justify-right"><%= liquor["SIZE"] %></td>
                    <td class="justify-right">$<%= liquor["MINIMUM"] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="span4">
            <h3>What's This All About?</h3>
            <p>As of November 30, 2004, liquor license holders may charge a higher price than the minimum retail shelf price set by the Michigan Liquor Control Commission.</p>
            <p>They may not, however, charge a lower price than the minimum shelf price.</p>
            <p><em>Are you getting your money's worth at the corner store?</em></p>
            <p><a href="#about" data-controls-modal="about" data-backdrop="true">Read more…</a></p>

            <h3>LiquorList Facts</h3>
            <dl class="facts">
              <dt rel="twipsy" title="If you've got it, spend it! Right?">The Most Expensive</dt>
              <dd><%=friendly_name most_expensive %> – $<%= most_expensive["MINIMUM"] %> for <%= most_expensive["SIZE"] %>mL</dd>
              <dt>The Cheapest</dt>
              <dd><%=friendly_name cheapest %> – $<%= cheapest["MINIMUM"] %> for <%= cheapest["SIZE"] %>mL</dd>
              <dt rel="twipsy" title="You might as well use this as a household cleaner…">The Highest Proof</dt>
              <dd><%=friendly_name highest_proof %> – <%= highest_proof["PROOF"] %> proof</dd>
              <dt>The Lowest Proof</dt>
              <dd><%=friendly_name weakest_proof %> – <%= weakest_proof["PROOF"] %> proof</dd>
              <dt rel="twipsy" title="Best bang for your buck!">Cheap & Packs a Punch</dt>
              <dd><%=friendly_name best_value %> – $<%= best_value["MINIMUM"] %> for <%= best_value["SIZE"] %>mL</dd>
              <dt rel="twipsy" title="Why would you even buy this?">Overpriced</dt>
              <dd><%=friendly_name biggest_ripoff %> – $<%= biggest_ripoff["MINIMUM"] %> for <%= biggest_ripoff["SIZE"] %>mL</dd>
            </dl>
          </div>
        </div>
        <% if @paginate %>
          <div class="row">
            <div class="span14">
              <div class="pagination">
                <ul>
                  <li class="prev disabled"><a href="/page/<%= previous_page %>">&larr; Previous</a></li>
                  <% 15.times do |i| %>
                    <% page = i + current_page %>
                    <% break if page > number_of_pages %>
                    <li class="<%= 'active' if current_page == page %>"><a href="/page/<%= page %>"><%= page %></a></li>
                  <% end %>
                  <li class="next"><a href="/page/<%= next_page %>">Next &rarr;</a></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal hide fade" id="about">
        <div class="modal-header">
          <a href="#" class="close">×</a>
          <h3>About LiquorList</h3>
        </div>
        <div class="modal-body">
          <p>As of November 30, 2004, liquor license holders may charge a higher price than the minimum retail shelf price set by the Michigan Liquor Control Commission.</p>
          <p>They may not, however, charge a lower price than that. <em>Are you getting your money's worth?</em></p>
          <p>LiquorList, then, is a tool for checking the minimum retail price while you're shopping. <em>How high is your corner store marking up prices?</em></p>

          <p>The idea to parse Michigan's Liquor Price Book came from <a href="https://twitter.com/#!/rharlow">Rick Harlow</a> when he stopped by our office with a bag full of whiskey a while back. <a href="https://twitter.com/#!/bryckbost">Brian Ryckbost</a> then took that idea and ran with it, building the app you're now using.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      <footer>
        <p>&copy; LiquorList 2011. Built by <a href="http://twitter.com/#!/bryckbost">Brian Ryckbost</a>, supported and sponsored by <a href="http://collectiveidea.com">Collective Idea</a>.</p>
      </footer>
    </div> <!-- /container -->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '<%= ENV['GAUGES_KEY'] %>');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
